/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.top-bar-bg {
    background-color: rgb(216, 8, 140);
    ;
}

.top-bar-text-color {
    color: rgb(255, 230, 0);
}

.dropdown-item:hover {
    background-color: rgb(216, 8, 140);
}